<div class="panel panel-default">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> Añadir nuevo personal</p>
	</div>
	<div class="panel-body">
		<form ng-submit="addPersonal()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" ng-model="personal.nombre" required>
    </div>
    <div class="form-group">
      <label for="dni">DNI</label>
      <input type="number" class="form-control" id="dni" ng-model="personal.dni" min="1111111" max="99999999" placeholder="Escriba su DNI sin puntos. Ejemplo: 39286722" required>
    </div>
    <div class="form-group">
      <label for="f_nac">Fecha de nacimiento:</label>
      <input type="text" class="form-control" id="f_nac" ng-model="personal.f_nac" placeholder="Formato: 01-01-2000" minlength="10" maxlength="10" required>
    </div>
    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Insertar</button>
    <a href="#/personals" class="btn btn-default"> Cancelar </a>
</form>
    <div>
<div>
