<div class="panel panel-default">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> Registrar nueva entrada/salida </p>
	</div>
	<div class="panel-body">
		<form ng-submit="addEntry()" class="col-md-2">
	    <button type="submit" style="color:white;" class="btn btn-success btn-md">Registrar entrada</button>
	  </form>
	  <form ng-submit="addExit()" class="col-md-2">
	    <div class="from-group>">
	      <button type="submit" style="color:white;" class="btn btn-danger btn-md">Registrar salida</button>
		  </div>
	  </form>
		<div class="col-md-2" margin-top:-10%;>
			<a href="#personals" class="btn btn-default" class="col-md-12"> Cancelar </a>
		</div>
	</div>
</div>
