<div class="panel panel-default" ng-init="showPersonal()">
	<div class="panel-heading">
	  <p class="panel-title"> Detalles del personal seleccionado </p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Nombre: {{ personal.nombre }}</label>
		 <label class="form-control">DNI: {{ personal.dni }}</label>
		 <label class="form-control">Fecha de Nacimeinto: {{ personal.f_nac }}</label>
		<a href="#/personals" class="btn btn-default"> Cancelar </a>
		</div>
	</form>
    <div>
<div>
